<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.csdn.ingo.dao.UserDao">  
    <select id="findUserById" parameterType="String" resultType="User">  
        select * from userinfo where userid=#{id}  
    </select>  
</mapper>   